<f:layout name="Default" />

<f:section name="content">

    <h1><f:translate id="blog.list.headline" /></h1>

    <f:flashMessages renderMode="div" class="alert alert-success" />

    <f:form action="list" additionalAttributes="{role:'form'}">
        <div class="form-inline">
            <div class="form-group">
                <f:form.textfield name="search" value="{search}" class="form-control" />
                <f:form.submit value="{f:translate(id:'blog.list.button.search')}" class="btn-xs btn-primary" />
            </div>
        </div>
    </f:form>

    <ul class="list-group">
        <simpleblog:widget.AtoZNav objects="{blogs}" as="filteredBlogs" property="title">
            <simpleblog:widget.sort objects="{filteredBlogs}" as="sortedBlogs" property="title">
                <f:for each="{sortedBlogs}" as="blog">
                    <li class="list-group-item">{blog.title}
                        <f:link.action action="deleteConfirm" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DEL</f:link.action>
                        <f:link.action action="updateForm" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right margin-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> EDIT</f:link.action>
                        <f:link.action action="show" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right margin-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> SHOW</f:link.action>
                    </li>
                </f:for>
            </simpleblog:widget.sort>
        </simpleblog:widget.AtoZNav>
    </ul>

    <p class="text-muted">A maximum of {settings.blog.max} Blogs will be displayed.</p>
    <p><f:link.action controller="Json" action="json" pageType="99" class="btn btn-warning">JSON-TEST</f:link.action></p>

    <f:link.action action="addForm" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Blog</f:link.action>

</f:section>