<div class="container">

    <h1>Blog List</h1>

    <ul class="list-group">
        <f:for each="{blogs}" as="blog">
            <li class="list-group-item">{blog.title}
                <f:link.action action="updateForm" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right">EDIT</f:link.action>
                <f:link.action action="show" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right margin-right">SHOW</f:link.action>
            </li>
        </f:for>
    </ul>

    <f:link.action action="addForm" class="btn btn-primary">Add Blog</f:link.action>

</div>