<f:layout name="Default" />

<f:section name="content">

    <h1>Show Blog</h1>

    <dl class="dl-horizontal">
        <dt>Blog title:</dt>
        <dd>{blog.title}</dd>
        <dt>Blog description:</dt>
        <dd><f:format.nl2br>{blog.description}</f:format.nl2br></dd>
    </dl>

    <f:if condition="{blog.posts}">
        <ul class="list-group">
            <f:for each="{blog.posts}" as="post">
                <li class="list-group-item">{post.title}
                    <f:for each="{post.tags}" as="tag">
                        <span class="label label-default">{tag.tagvalue}</span>
                    </f:for>
                    <f:link.action action="deleteConfirm" controller="Post" arguments="{blog:blog,post:post}" class="btn btn-primary btn-xs pull-right">DEL</f:link.action>
                    <f:link.action action="updateForm" controller="Post" arguments="{blog:blog,post:post}" class="btn btn-primary btn-xs pull-right margin-right">EDIT</f:link.action>
                    <f:link.action action="show" controller="Post" arguments="{blog:blog,post:post}" class="btn btn-primary btn-xs pull-right margin-right">SHOW</f:link.action>
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:link.action action="addForm" controller="Post" arguments="{blog:blog}" class="btn btn-primary">Add Post</f:link.action>

    <br /><br />

    <f:link.action action="list" class="btn btn-primary">Back to Blog list</f:link.action>
</f:section>