<f:layout name="Default" />

<f:section name="content">

    <h1>Edit Blog</h1>

        <f:form action="update" object="{blog}" name="blog" additionalAttributes="{role:'form'}">

            <div class="form-group">
                <label>Blog title</label>
                <f:form.textfield property="title" class="form-control" />
            </div>

            <div class="form-group">
                <label>Blog description</label>
                <f:form.textarea property="description" class="form-control" />
            </div>

            <f:form.submit value="Update Blog!" class="btn btn-primary" />

        </f:form>
</f:section>