<f:layout name="Default" />

<f:section name="content">

    <h1>Show Post</h1>

    <dl class="dl-horizontal">
        <dt>Post title:</dt>
        <dd>{post.title}</dd>
        <dt>Post date:</dt>
        <dd><f:format.date format="d.m.Y / h:i a">{post.postdate}</f:format.date></dd>
        <dt>Post content:</dt>
        <dd><f:format.nl2br>{post.content}</f:format.nl2br></dd>
        <dt>Post-Tags</dt>
        <dd><f:for each="{post.tags}" as="tag">
            <span class="label label-default">{tag.tagvalue}</span>
        </f:for></dd>
        <dt>Post autor:</dt>
        <dd>{post.author.fullname} (Email: {post.author.email})
            <br />
            <simpleblog:gravatar>{post.author.email}</simpleblog:gravatar></dd></dd>
    </dl>

    <h3>Comments</h3>
    <f:form action="ajax" name="comment" object="{comment}" arguments="{post:post}">
        <f:form.textarea property="comment" id="commentfield" />
        <br />
        <f:form.submit value="Send comment" class="btn btn-primary btn-xs" id="commentsubmit" />
    </f:form>

    <ul class="list-group" id="comments">
        <f:for each="{post.comments}" as="comment" reverse="TRUE">
            <li class="list-group-item">{comment.comment} <span class="text-muted">(<f:format.date format="Y-m-d H:i:s">{comment.commentdate}</f:format.date>)</span></li>
        </f:for>
    </ul>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#commentsubmit').click(function(){
                var ajaxURL = '<f:uri.action action="ajax" controller="Post" pageType="99" arguments="{post:post}" />';
                var form = $('form');
                $.post(ajaxURL, form.serialize(), function(response) {
                    console.log(response);
                    var items = [];
                    $.each(response, function(key, val) {
                        items.push('<li class="list-group-item">' + val.comment + ' <span class="text-muted">(' + val.commentdate.date + ')</span>' + '</li>');
                    });
                    $('#comments').html(items.reverse().join(''));
                    $('#commentfield').val('');
                });
                return false;
            });
        });
    </script>

    <f:link.action action="show" controller="Blog" arguments="{blog:blog}" class="btn btn-primary">Back to the Blog <strong>"{blog.title}"</strong></f:link.action>
</f:section>