<f:layout name="Module/Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
    Simpleblog Module
</f:section>

<f:section name="content">

    <p class="lead">This is the "Simpleblog" module content.</p>
    <h2>Table of content</h2>

    <ol>
        <li><f:link.action action="list">Comment Admin</f:link.action></li>
        <li><f:link.action action="test">Test Action</f:link.action></li>
    </ol>

    <p>Here you can place some descriptive content.</p>

</f:section>