<f:layout name="Module/Default" />

<f:section name="iconButtons">
   <f:be.buttons.csh table="_MOD_system_SimpleblogSimpleblogadmin" field="delete" />
</f:section>

<f:section name="headline">
    Simpleblog Comment Admin
</f:section>

<f:section name="content">

    <p class="lead">Here you are able to delete Comments:</p>

    <h2>Comments (not deleted)</h2>
    <ul>
        <f:for each="{commentsLive}" as="comment">
            <li>
                <f:link.action controller="Comment" action="delete" arguments="{comment:comment}"><f:be.buttons.icon icon="actions-edit-delete" title="Delete Comment"/></f:link.action>
                <f:format.date format="Y-m-d H:i:s">{comment.commentdate}</f:format.date> &nbsp;&nbsp; {comment.comment}
            </li>
        </f:for>
    </ul>

    <h2>Comments (deleted)</h2>
    <ul>
        <f:for each="{commentsDeleted}" as="comment">
            <li>
                <f:be.buttons.icon icon="apps-pagetree-drag-place-denied" title="Comment deleted"/>
                <f:format.date format="Y-m-d H:i:s">{comment.commentdate}</f:format.date> &nbsp;&nbsp; {comment.comment}
            </li>
        </f:for>
    </ul>

</f:section>