body {
    padding: 10px;
}

.margin-right {
    margin-right: 5px;
}

.layout1 {
    background-color: #eee;
    padding:10px;
    margin:5px;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}