<h1>{headline}</h1>

<f:render partial="Error" arguments="{object:'post'}" />

<f:form action="{action}" object="{post}" name="post" arguments="{blog:blog}" additionalAttributes="{role:'form'}">

    <div class="form-group">
        <label>Blog title</label>
        <f:form.textfield property="title" class="form-control" />
    </div>

    <div class="form-group">
        <label>Post content</label>
        <f:form.textarea property="content" class="form-control" />
    </div>

    <div class="form-group">
        <label>Post tags</label>
        <f:form.select options="{tags}" optionLabelField="tagvalue" property="tags" size="5" multiple="1" class="form-control" />
    </div>

    <div class="form-group">
        <label>Post author</label>
        <f:form.select options="{authors}" optionLabelField="fullname" prependOptionLabel="Choose author" prependOptionValue="0" property="author" class="form-control" />
    </div>

    <f:form.submit value="{submitmessage}" class="btn btn-primary" />

</f:form>